@charset "utf-8";
/* CSS Document */

body{width:99%;font-family:Arial;font-size:12px; }
article{
	margin:0 auto;
	width:80%;
	border:1px;
	overflow:auto;
}
section{
	width:80%; 
	height:700px; 
	background-size:cover;
	background-image:url(../img/friends.jpg);
	background-repeat:repeat-n;
	}
#ptitle{
	
	float:none;
	top:20px;
	left: 50px;
	width: 80%;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:24px;
	font-style:normal;
	padding-top:100px;
}
#pcontent{
	
	float:none;
	top:50px;
	left:20px;
	bottom: 0;
	right: 0;
	width: 70%;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	padding-top:100px;
}
#ofer{
	
	top:30px;
	bottom: 0;
	left:0;
	right: 0;
	width: 80%;
	background-color:transparent;
	margin:0 0 50px 50px;
	padding:0 0 10px 50px;
}


/*
 * shopping list
 *
 */

.list.title {
	background: lightgrey;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 24px;
	padding: 10px;
	width: 80%;
}


.list.description {
	background: grey;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FBB531;
	font-size: 16px;
	padding: 10px;
	width: 80%;
}

.list-blocks {
	float: left;
	margin: 1%;
	width: 99%;
}

/*register contact us*/

label{color:#6c6c6c;}

input{line-height:30px;}

input,textarea{
	width:500px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color:rgba(255,255,255,.0);
	border:solid 1px #b6c7cb;}
.btncss1{
	width:180px;
	position:absolute;
	top:500px;
	left:30px
	}
.btncss2{
	width:100px;
	position:absolute;
	top:500px;
	left:240px
	}
.btncss3{
	width:100px;
	position:absolute;
	top:500px;
	left:350px
	}
#submit_button{
	width:109px;
	height:34px;
	border:solid 1px #b6c7cb;
	float:left;
	margin:10px;}

.row{margin:5px;}