

a { color: #000000; text-decoration: none; }
a:hover { text-decoration: underline; }

table {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
table .w30 {
    width: 30%;
    font-weight: bold;
}
.wrapper {
    position: relative;
    overflow: auto;
    text-align: center;
}

.wrapper #header {
    background-color: #8A6F3E;
    margin: 10px;
    padding: 0;
}


header #intro {
    margin: 5px 60px 0px 80px;
    font-size: 24px;
    text-align: left;
    color: #c7ae8b;
    margin-top: 30px;
	
}

article {
    margin: 20px 0px;
}

article #items {
    width: 75%;
    margin:0 auto;
}
article #check{
    width: 5%;
    float: left;
}
article #pic {
    float: left;
    width: 20%;
}

article #details {
    text-align: left;
}

article #buttons {
    text-align: right;
}

article #title {
    font-size: 14px;
    font-weight: bold;
    background-color: lightgrey;
    padding: 5px;
}

